* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  background-color: hwb(212 0% 3%);
  color: white;
  padding: 15px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.container {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.card {
  background-color: white;
  width: 600px;
  padding: 40px;

  border-radius: 10px;

  text-align: center;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h1 {
  margin-top: 0;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;

  background-color: #222;
  color: white;

  cursor: pointer;
}

button:hover {
  background-color: #444;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;

  border: 1px solid #ccc;
  border-radius: 5px;
}